body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.page-header {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  letter-spacing: 0.54px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.17;
}
.logo-studio {
  color: #2e2f42;
}

.page-nav {
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.32px;
  line-height: 1.5;
}
.adres {
  font-style: normal;
}
.address {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.studio {
  text-decoration: none;
  color: #2e2f42;
}
.studio:hover,
.studio:focus {
  color: #404bbf;
}
.portfolio {
  text-decoration: none;
  color: #2e2f42;
}
.portfolio:hover,
.portfolio:focus {
  color: #404bbf;
}
.contacts {
  text-decoration: none;
  color: #2e2f42;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.mailto {
  text-decoration: none;
  color: #434455;
}
.mailto:hover,
.mailto:focus {
  color: #404bbf;
}
.telefon {
  text-decoration: none;
  color: #434455;
}
.telefon:hover,
.telefon:focus {
  color: #404bbf;
}

.section-name {
  background-color: #2e2f42;
}
.title {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}
.button {
  background-color: #4d5ae5;

  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.section-advantages {
  background-color: #fff;
}
.advantages {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}
.about {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
}
.section-team {
  background-color: #f4f4fd;
}
.team-list {
  background-color: #ffffff;
}
.title-what {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.teams {
  background-color: #ffffff;
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.about-team {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.portfolio {
  background-color: #fff;
}
.footer {
  background-color: #2e2f42;
}
.webstudio {
  flex-direction: column;
  justify-content: center;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.logot {
  color: #f4f4fd;
}
.result {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
